package components

import (
"github.com/alexleyoung/blog/types"
"github.com/alexleyoung/blog/ui/layouts"
)

templ Blobs(posts []types.Post) {
@layouts.Base("See blabs") {
<ul>
	for _, post := range posts {
	<li>
		<a href={templ.SafeURL("/blab/" + post.Slug)}>{post.Title}</a>
		<p>{post.CreatedAt.Format("Jan 2, 2006 at PM")}</p>
	</li>
	}
</ul>
}
}
