package components

import (
"time"

"github.com/alexleyoung/blog/types"
"github.com/alexleyoung/blog/ui/layouts"
)

templ Post(blab types.Post) {
@layouts.Base(blab.Title) {
<main hx-target="this" hx-swap="outerHTML">
	<h1>{blab.Title}</h1>
	<p>created on {blab.CreatedAt.Format(time.RFC1123)}</p>
	<p>updated on {blab.UpdatedAt.Format(time.RFC1123)}</p>
	<button hx-get="/">edit</button>
	<p>{blab.Body}</p>
	<button hx-delete="/post">delete</button>
</main>
}
}
