package components

templ Edit() {
<form hx-patch="/blab" hx-target="this" hx-swap="outerHTML">
	<input name="title" />
	<button disabled>edit</button>
	<textarea name="body" />
	<button type="submit">save</button>
</form>
}
